body{
    background-color: #ccc;
    color: white;
}

#main{
    background-color: #736e8a9d;
    width: 100vw;
    height: 100vh;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    padding: 2%;
}